* body {
  background-color: slategray;
  color: snow;
}

button,
.grey-email {
  border-radius: 20px;
  padding: 4px 10px;
}

ul {
    padding-left: 0;
}

li {
  max-width: 300px;
  list-style: none;
}
.grey-email {
  background-color: #ccc;
  color: #000;
}
